<h2>Welcome to the Word Definer</h2>
<p>The Word Definer works like a dictionary, except you get to add the definitons yourself!
Fun! You can add, delete, and change the words and their definitions</p>
<h3>Word List:</h3>

<% if @words.any? %>
  <ul>
    <% @words.each do |word| %>
      <% if word.name != ''%>
      <li><a href="/words/<%= word.id %>"><%= word.name %></a></li>
      <%end%>
    <% end %>
  </ul>
<% else %>
  <p>There aren't any words to display.</p>
<% end %>

<button class="btn"><a href="/words/new">Add a new word</a></button>
