<h3><%= @word.name%></h3>
<h4>Definitions:<h4>

<%# code for listing definitons goes here %>

<%# code for adding definitions goes here %>

<p><a href="/words/<%= @word.id %>/edit">Edit word</a></p>
<a href="/words">Return to word list</a>

